- metasitename = 'a.nvlkv'
- metatitle = 'a.nvlkv'
- metadescription = ''
head
    //- TODO: Check if it's the good charset
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= metasitename
    meta(name='viewport', content='width=device-width,initial-scale=1.0')

    meta(property="og:site_name" content="#{metasitename}")
    meta(property="og:title" content="#{metatitle}")
    meta(property="og:type" content="movie")
    meta(property="og:description" content=" ")
    meta(property="og:image" content="#{baseurl}")
    meta(property="og:url" content="#{baseurl}/")
    meta(property="twitter:card" content="summary")
    meta(property="twitter:url" content="#{baseurl}/")
    meta(property="twitter:title" content="#{metatitle}")
    meta(property="twitter:image" content="#{baseurl}")  

    //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
    //- link(rel="stylesheet", href="css/libs/libs.css")
    //- css reset
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="css/style.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
